.container { 
    max-width: 940px; 
    margin: auto;
}
header {
    min-height: 137px;
    background: linear-gradient(#d5d5d5, #fff, #fff, #fff, #fff);
    padding: 35px 0;
}
nav { text-align: center;}
#logo img { width: 25%  } 
#menu { padding: 20px 0 }
#menu li {
    font: .7em Tahoma;
    color: #b7b7b7;
}
#menu li a {
    display: block;
    font: bold .9rem Georgia;
    color: #666;
    text-transform: uppercase;
}
main { 
    background: #fff url('../img/mainbg.jpg') repeat-x;
}
main .container { padding: 20px 0 0 0 }
#slider {
    height: 340px;
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    background: url('../img/slider1.jpg') center;
}
h1 {
    font: bold 1.5em Georgia;
    color: #000;
    text-align: center;
    padding: 20px;
}
h2 {
    font: 1.3em Georgia;
    color: #11719e;
}
h6 { 
    font: .75em Helvetica;
    color: #8c8c8c;
}
h3{
    font: 1.1em Georgia ;
    color: #444444;
}
h5{
    font: .75em Helvetica;
    color: #444444;
    padding: 10px 0 0 0;
}
article img {
    padding: 19px 0 17px 0;
}
hr {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}
.xett {
    border-bottom: 1px dotted #d3d3d3;
}
.row { padding: 20px 0; }
.row:after {
    content: '';
    display: table; 
    clear: both;
}
.col { padding: 20px 10px }

article p {
    font: .7em Helvetica ;
    letter-spacing: 1px;
    line-height: 18px;
    color: #3e3e3e;
}
.btn1 {
    font: .75em Helvetica;
    color: #016999;
    padding: 8px 15px;
    width: 160px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    background: linear-gradient(to right, #e8e8e8, #f6f6f6, #e8e8e8, #eaeaea);
    text-align: left;
    margin: 15px 0;
}
.btn1 span { float: right}

.social {
    margin-top: 10px;
}
.social div {
    float: left;
    padding: 4px 2px 0 0;
}
.letter-item{
    margin: 42px 0 0 0;
}
.letter{
    font: bold 1.1em Gill Sans;
    color: #444444;
}
.letter-text{
    font: .7em Helvetica;
    color: #444444;
    padding: 2px 0 10px 0;
}
.input-mail{
    margin: 0 0 13px 0;
   
}
input{
    border: 1px solid #dedede;
    border-radius: 4px ;
    padding: 10px 0 10px 0;
    margin: 10px 0 14px 0;
    width: 100%;
}
.contact-message input{
    padding: 0 0 120px 0;
}
.mid-btn{
    padding: 11px 0 0 0;
}
.btn-2{
    padding: 9px 12px;
    font: .7em Georgia;
    color: #ffffff;
    width: 160px;
    border: 2px solid #6aa0cb;
    border-radius: 6px;
    background: linear-gradient(to right, #4980b7, #4c83ba, #4477aa, #416e9a);
    text-align: left;
}
.btn-2 span{
    float: right;
}
.update-list{
    border-top: dotted ;
}
.update-item {
    padding: 10px 0 10px 0;
}
.update-avatar {
    float: left;
    padding: 4px;
    background: #f0f0f0;
    border-color: #cfcfcf;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #cfcfcf;
    margin-right: 10px;
}

.update-text{
    font: .75em Helvetica;
    color: #444444;
}

footer{
    height: 183px;
    background: #333;
    border-top: 10px solid #4c4c4c  ;
}
footer .container{
    padding: 17px 0 ;
    font: .7em Helvetica;
    color: #999999;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
}
@media only screen and (min-width: 768px) {
    nav { text-align: inherit }
    nav ul { float: right; }
    nav ul li { 
        display: inline-block; 
        padding: 0 10px 10px 10px;
        border-left: 1px dotted #d6d6d6; 
    }
    .col { width: 33.33%; float: left }
}